@use "../../../mixin/mixin" as *;
@use "../../../setting/setting" as *;

.p-slide05 {
  .mv-slider {
    .slick-slide {
      /* slick-slideクラスはslickライブラリを起動したときに付与されるクラス */
      /* htmlだと「.slider-item」のdivタグに付与される */
      overflow: hidden;
      outline: none;
      position: relative;
      > .slider-img {
        padding-top: min((650 / 1366 * 100%), 800px); //お好みで調整 ★min関数で最大値を設定できる
        @include sp {
          padding-top: min((400 / 375 * 100%), 500px); //お好みで調整
        }
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; //画像を見切れさせたくない場合はcontain
        }
      }

      &.slick-active,
      &[tabindex="0"] {
        /* slick-activeだけだとフェード切り替え時にカクツクため */
        > .slider-img {
          transform-origin: center center;
          animation: bgZoomOutAnime 7s ease-out forwards;/* アニメーションの長さはslickのautoplaySpeedより少し大きくしておく */
        }
      }

      > .slider-text {
        position: absolute;
        font-size: 30px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
      }
    }
  }
}

/* 最初少し大きくしておき徐々に元の大きさに戻すアニメーション */
@keyframes bgZoomOutAnime {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
